<div class="container">

  <ng-template *ngIf="!fbAuth.authenticated">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to PVTracker</mat-card-title>
      <mat-card-subtitle>Artificial Intelligence Powered Pole Vaulting</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/pv.jpg" alt="Artificial Intelligence Powered Pole Vaulting">
    <mat-card-content>
      <p>
       Welcome to a 21st century approach to Pole Vaulting. To start tracking your jumps and workouts login. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='fbAuth.login()'>Login</button>
    </mat-card-actions>
  </mat-card>
  </ng-template>

  <ng-template [ngIf]="fbAuth.authenticated">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Welcome back!</mat-card-title>
        <mat-card-subtitle>Start recording your jumps!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/pv2.JPG" alt="Start recording your workouts and jumpdays">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/add-jump']" routerLinkActive="router-link-active" ><mat-icon class="mat-18">add</mat-icon>Jump</button>
        <button mat-button><mat-icon class="mat-18">add</mat-icon>Workout</button>
      </mat-card-actions>
    </mat-card>

  </ng-template>

</div>